.Recipes {
  &__header {
    .item {
      font-size: $m-size;
    }

    .item:not(:last-of-type) {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $desktop-breakpoint) {
  .Recipes {
    &__header {
      flex-wrap: wrap;

      .right {
        margin: auto !important;
      }

      .button {
        font-size: $s-size !important;
      }
    }
  }
}
