* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 96rem;
  padding: 0 $m-size;
}

.segment,
.attached.header {
  border: none !important;
}
