// Lato font (300, 400, 700)
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Colors
$color-black: #160e0a;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;