.Search {
  display: flex;
  margin-top: $l-size;
  position: relative;

  &__icon {
    left: 0.8rem;
    position: absolute;
    top: 1rem;
    width: $m-size;
  }

  &__clear {
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    top: 1rem;
    width: $s-size;
  }

  &__input {
    border: 1px solid grey;
    border-radius: 0.5rem;
    height: $l-size;
    padding: 0.2rem 2.3rem 0.2rem 3rem;
    width: 100%;

    &:hover,
    &:focus {
      background-color: white;
      border: 1.5px solid #009688;
      outline: none;
    }
  }
}
